.navbar {
    width: 100%;
    background-color: #efefef;
    padding-top: 15px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar h1 {
    font-size: 16px;
    color: #444;
}

.navbar span {
    margin-left: 20px;
    display: inline-block;
    width: 20px;
    font-size: 14px;
    height: 20px;
    background-color: #d0c7f7;
    color: #6d28d9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}